/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 0px solid $light-gray; /* 1*/

  & + table {
    margin-top: 1em; /* 1em*/
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: 0px solid $light-gray;  /* 1*/
}

th {
  padding: 4em; /* 0.5em*/
  font-weight: bold;
  text-align: left;
  border-right: 0px solid $light-gray;  /* 1*/
}

td {
  padding: 4em;  /* 0.5em*/
  border-bottom: 0px solid $light-gray;  /* 1*/
  border-right: 0px solid $light-gray;  /* 1*/
}

tr, td, th {
  vertical-align: middle;
}
